* {
  font-family: Montserrat, sans-serif;
  text-align: center;
}
body {
  padding: 10px 30px;
  background-color: #222831;
  color: white;
}
h1 {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}

input {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  font-weight: 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main > div {
  background-color: #29a19c;
  font-size: 30px;
  margin: 20px;
  padding: 40px;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.main > div p {
  grid-column: 1/4;
  margin-bottom: 10px;
  font-size: 30px;
}
