* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #000;
	color: #fff;
}

.base {
	width: 200px;
	height: 200px;
	background-color: #fff;
	margin: 30px;
	color: black;
	text-align: center;
	line-height: 200px;
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}

.scale,
.rotate {
	transition-duration: 200ms;
}

.scale:hover {
	transform: scale(1.3);
}
.rotate:hover {
	transform: rotate(108deg);
}

.translate {
	animation-name: aniOne;
	animation-duration: 3s;
	animation-direction: normal;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	position: relative;
	animation-iteration-count: infinite;
}

@keyframes aniOne {
	0% {
		background-color: white;
		top: 0px;
		left: 0px;
	}
	20% {
		background-color: red;
		top: 100px;
		left: 0px;
	}
	40% {
		background-color: skyblue;
		top: 100px;
		left: 100px;
	}
	60% {
		background-color: lawngreen;
		top: 200px;
		left: 100px;
	}
	80% {
		background-color: yellow;
		top: 0px;
		left: 100px;
	}
}
